$tf/
**/packages/*
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.build.csdef
*.cachefile
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings
*.DotSettings.user
*.gpState
*.ilk
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.nupkg
*.obj
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.rdl.data
*.rsp
*.sbr
*.scc
*.sdf
*.sln.docstates
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.userosscache
*.userprefs
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*_i.c
*_i.h
*_p.c
*~
.*crunch*.local.xml
.builds
.JustCode
.ntvs_analysis.dat
.sass-cache/
.vs/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*/
_Chutzpah*
_NCrunch_*
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
AppPackages/
AutoTest.Net/
Backup*/
bld/
bower_components/
build/
ClientBin/
csx/
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
FakesAssemblies/
Generated_Code/
ipch/
node_modules/
publish/
TestResult.xml
UpgradeLog*.htm
UpgradeLog*.XML
x64/
x86/
~$*